<!DOCTYPE html>
<html>
<head>
    <title>Set New Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="login-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form class="login-form" method="POST">
        {{ form.hidden_tag() }}
        <label>{{ form.new_password.label }}</label>
        {{ form.new_password(size=20) }}
        <label>{{ form.confirm_password.label }}</label>
        {{ form.confirm_password(size=20) }}
        <button type="submit">Update</button>
    </form>
</div>

</body>
</html>
